site_name: Generics-resolver

# Meta tags (placed in header)
site_description: Java generics runtime resolver
site_author: 'Vyacheslav Rusakov'
site_url: https://xvik.github.io/generics-resolver

# Repository (add link to repository on each page)
repo_name: 'generics-resolver'
repo_url: 'http://github.com/xvik/generics-resolver'
edit_uri: 'edit/master/src/doc/docs/'

#Copyright (shown at the footer)
copyright: 'Copyright &copy; 2014-2020 Vyacheslav Rusakov'

# Meterial theme
theme: 'material'
extra:
#  palette:
#    primary: 'indigo'
#    accent: 'indigo'

  social:
    - type: 'github'
      link: 'https://github.com/xvik'
    - type: 'twitter'
      link: 'https://twitter.com/vyarus'


# Google Analytics
#google_analytics:
#  - 'UA-111111111-1'
#  - 'auto'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.superfences

dev_addr: 127.0.0.1:3000

nav:
  - Home: index.md
  - Getting started: getting-started.md
  - Examples:
      - Safe resolution: examples/safe-resolve.md
      - Refelction assist: examples/reflect.md
      - Type sanitizer: examples/sanitizer.md
      - Base type generics: examples/resolution.md
      - DI binding: examples/di.md
      - Type hierarchy: examples/hierarchy.md
      - Types compatiblity check: examples/compat.md
      - Generics tracking: examples/track.md
      - Find variables: examples/vars.md
      - Type construction: examples/construct.md
      - Direct generics resolution: examples/direct.md
      - Utilities usage: examples/utils.md
      - Sub types analysis: examples/inception.md
      - Instance analysis: examples/instance.md
      - Generics visibility: examples/visibility.md
  - User guide:
      - Context API: guide/context.md
      - Inlying contexts: guide/inlying.md
      - Cache: guide/cache.md
      - Low level API: guide/utils.md
      - Types walker: guide/walker.md
  - About:
      - Release notes: about/history.md
      - Support: about/support.md
      - License: about/license.md